<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>LEMONGRAB</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lemongrab.css') }}">

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">


    <!-- jquery -->
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>    

    <!-- DATATABLES -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}">
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>    
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>    
    
</head>
<body>


    
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">


        <a id='csv_download'></a>

        <script type="text/javascript">
    
                function download_csv   (data, headers, title) {
                    var csv = headers[0]+','+headers[1]+'\n'
                    data.forEach(function(row) {
                            csv += row.join('\t');
                            csv += "\n";
                    })
                    const dl = document.getElementById("csv_download")
                    dl.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv)
                    dl.target = '_blank'
                    dl.download = title+'.csv'
                    dl.click()
                }
        </script>




        <div class="row">
            <div class="ten column" style="margin-top: 10%">
                <h3>LEMONGRAB</h3>
            </div>
        </div>

        <div class="row">
            <div class="one-half column">
                <h4>Platforms</h4>
                <ul>
                    {% for platform in platforms %} 
                        <li>{{ platform }}</li>
                    {% endfor %}                    
                </ul>
            </div>
            <div class="one-half column">
                <h4>Release countries</h4>
                <ul>
                    {% for country in countries %} 
                        <li>{{ country }}</li>
                    {% endfor %}                  
                </ul>
            </div>
        </div>

        <div class="row"  style="margin-top: 5%">
            Number of companies: {{ companies_n }}
        </div>

        <div class="row">
            <canvas id="most_active_companies-chart" width="800" height="450"></canvas>
            <script type="text/javascript">

                new Chart(document.getElementById("most_active_companies-chart"), {
                    type: 'horizontalBar',
                    data: {
                        labels: [
                            {% for c in most_common %}
                                "{{ c[0] }}",
                            {% endfor %}
                        ],
                        datasets: [
                            {
                                label: "No. of games",
                                data: [
                                    {% for c in most_common %}
                                        {{ c[1] }},
                                    {% endfor %}
                                ],
                                backgroundColor: '#ffee00'
                            }
                        ]                     
                    },
                    options: {
                        legend: { 
                            display: false
                        },
                        title: {
                            display: true,
                            text: 'Most active companies'
                        },
                    }                   
                });

            var no_company_data = [ 
                {% for c in most_common %}
                    ["{{ c[0] }}", "{{ c[1]}}"],
                {% endfor %}
            ]

            </script>
            <button onclick="download_csv(no_company_data, ['company', 'no_of_games'], 'company_stats')">Download TSV</button> 
        </div>

        <div class="row"  style="margin-top: 5%">
                Number of companies with country information in Wikidata: {{ companies_with_country }} ( {{ companies_country_ratio }} )
            </div>
    
            <div class="row">
                <canvas id="country-chart" width="800" height="550"></canvas>
                <script type="text/javascript">
                    var randomColorGenerator = function () { 
                        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
                    };

    
                    new Chart(document.getElementById("country-chart"), {
                        type: 'horizontalBar',
                        data: {
                            labels: [
                                {% for c in company_countries %}
                                    "{{ c[0] }}",
                                {% endfor %}
                            ],
                            datasets: [
                                {
                                    label: "No. of companies",
                                    data: [
                                        {% for c in company_countries %}
                                            {{ c[1] }},
                                        {% endfor %}
                                    ],
                                    backgroundColor: '#ffee00'
                                }
                            ]                     
                        },
                        options: {
                            legend: { 
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Companies per country'
                            },
                        }                   
                    });

                    var company_countries_data = [ 
                        {% for c in company_countries %}
                            ["{{ c[0] }}", "{{ c[1]}}"],
                        {% endfor %}
                    ]
                </script>
                <button onclick="download_csv(company_countries_data, ['country', 'no_of_companies'], 'country_stats')">Download TSV</button> 
            </div>        


            <div class="row"  style="margin-top: 5%">
                Production roles:
            </div>
    
            <div class="row">
                <canvas id="role-chart" width="800" height="550"></canvas>
                <script type="text/javascript">
                    var randomColorGenerator = function () { 
                        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
                    };

    
                    new Chart(document.getElementById("role-chart"), {
                        type: 'horizontalBar',
                        data: {
                            labels: [
                                {% for c in production_roles %}
                                    "{{ c[0] }}",
                                {% endfor %}
                            ],
                            datasets: [
                                {
                                    label: "Mentions",
                                    data: [
                                        {% for c in production_roles %}
                                            {{ c[1] }},
                                        {% endfor %}
                                    ],
                                    backgroundColor: '#ffee00'
                                }
                            ]                     
                        },
                        options: {
                            legend: { 
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Production roles (mentions)'
                            },
                        }                   
                    });
    
                    var production_roles_data = [ 
                        {% for c in production_roles %}
                            ["{{ c[0] }}", "{{ c[1]}}"],
                        {% endfor %}
                    ]
                </script>
                <button onclick="download_csv(production_roles_data, ['role', 'mentions'], 'country_stats')">Download TSV</button> 
            </div>  

            <!-- GAMES TABLE -->
            <div class="row"  style="margin-top: 5%">
                Games Datatable:
            </div>
    
            <div class="row">
                <table id="games_table", class="display">
                    <thead>
                        <tr>
                            <th>Game</th>
                            <th>Company</th>
                            <th>Production role</th>
                            <th>Company country</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in games_table.items() %}
                            {% for entry in value %}
                            <tr>
                                <td><a href="https://www.mobygames.com/game/{{key}}" target="_new">{{ entry.game_title }}</a></td>
                                <td>{{ entry.company_name }}</td>
                                <td>{{ entry.production_role }}</td>
                                <td>{{ entry.company_country }}</td>
                            </tr>                        
                            {% endfor %}
                        {% endfor %}    
                    </tbody>
                </table>
            </div>  

            <script type="text/javascript">  
                $(document).ready( function () {
                    $('#games_table').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            'csvHtml5'
                        ]
                    });
                } );
            </script>


    </div>

    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>